# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/

# Distribution / Packaging
.Python
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
.DS_Store

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django stuff
*.log
local_settings.py

# Flask stuff
instance/
.webassets-cache

.env

experiments/data/